.visa-form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6cc091;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0px;
}

/* .visa-form .form-control:focus {
    background-color: azure;
} */

/* .visa-form {
    font-family: Arial, Helvetica, sans-serif;
} */

.visa-form h1,
.visa-form h2,
.visa-form h3,
.visa-form h4,
.visa-form h5,
.visa-form h6 {
    color: #444;
    letter-spacing: -.015em;
    font-weight: bold;
    line-height: 1.375;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.modal-footer {
    border-top: 0px solid #dee2e6;
}

.visa-form p {
    margin-bottom: 0px;
}

.confirm p {
    color: #626263;
    /* font-family: 'Livvic', sans-serif; */
}

.form-group {
    margin-bottom: .5rem;
    padding: 0.2rem 0;
}

.btn-nav {
    width: 180px;
    /*to make all next and previous button same size*/
}

/* Hide scrollbar */
/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

/* End of Hide scrollbar */
hr {
    margin-top: .5rem;
    margin-bottom: .2rem;
}

.visa-form .form-control.invalid,
.input-group.invalid,
.form-control-file.invalid,
.custom-file-input.invalid,
.custom-file-label.invalid {
    border-bottom: 1px solid #dc3545;
    background: #ffefef;
}

.custom-file-label.valid::after {
    background-color: #6cc091;
    color: #fff;
}

.invalid-feedback {
    display: block;
}

.card.p-1 {
    max-width: 150px;
    background: #6cc09142;
}

.badge-secondary {
    color: #6c757d;
    background-color: #d9efe2;
}

/* ----------------------------------Horizontal Numbered Timeline --------------------- */
.timeline-horizontal .timeline-item {
    border-bottom: 3px solid #ddd;
    padding: 0px;
}

.timeline-horizontal .timeline-item.active {
    border-color: #28a745;
}

.timeline-horizontal .timeline-item.active.current {
    border-color: #ddd;
}

.timeline-horizontal .timeline-item .timeline-title {
    position: absolute;
    bottom: 0px;
    left: -60px;
    text-align: center;
    width: 120px;
    margin-bottom: 1.5rem !important;
    padding-top: .5rem !important;
    font-size: 0.7rem;
    font-weight: 700;
    color: #ddd;
}

@media (max-width: 575.98px) {
    .timeline-horizontal .timeline-item .timeline-title {
        text-align: left;
        width: 100px;
        transform: rotate(-90deg) translate(-33px, -50%);
        transform-origin: 0px 0%;
        left: 0%;
        position: absolute;
        transition: 1s transform;
        padding-bottom: .5rem !important;
    }

    .timeline-horizontal {
        margin-top: 120px !important;
    }
}

.timeline-horizontal .timeline-item .bullet {
    position: absolute;
    color: #888 !important;
    bottom: -19px;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 50%;
    border: 3px solid #ffffffa3;
    left: 0px;
    font-weight: 600;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline-horizontal .timeline-item.active .bullet {
    color: #fff !important;
    background-color: #28a745;
}

.timeline-horizontal .timeline-item.active.current .bullet {
    color: #fff !important;
    background-color: black;
}

.timeline-horizontal .timeline-item.active .timeline-title {
    color: #28a745 !important;
}

.timeline-horizontal .timeline-item.active.current .timeline-title {
    color: black !important;
}

.timeline-horizontal .timeline-item .timeline-terminator {
    position: absolute;
    width: 100%;
    bottom: -3px;
    border-bottom: 3px solid white;
}

.timeline-horizontal .col-2 {
    max-width: 16%;
}

/* ---------------------------------- End of Horizontal Numbered Timeline --------------------- */

.btn-pay {
    width: 100%;
}

.whatsapp {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 10px;
    font-size: 2rem;
}

#instructions ul li {
    line-height: 1.5rem;
    font-size: .9rem;
    text-align: justify;
    padding-left: 0px;
}

@media (max-width: 575.98px) {
    #instructions ul li {
        font-size: .8rem;
        line-height: 1.5rem;
    }
}

button .close {
    text-align: end;
    position: absolute;
    right: 15px;
}

.visa-form .title {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.visa-form p {
    color: #7f7f7f;
    /* font-family: 'Livvic'; */
}

@media (max-width: 992px) {
    .visa-form .title {
        text-align: left;
        font-size: 1.3rem;
    }
}

.kart-total {
    position: absolute;
    color: white;
    right: 50px;
    background: url(../images/kart-bg.png);
    background-position: center;
    background-size: cover;
    font-size: 1.6rem;
    border: none;
    padding: 1px 23px 16px 23px;
    font-weight: 500;
    max-width: 180px;
    filter: hue-rotate(313deg);
}

.info-small {
    font-size: 11px;
    text-align: center;
    color: #afafaf;
    /* font-family: serif; */
}

#confirm-details .btn-edit {
    color: #6cc091;
}

/* new additions */
.total-price {
    font-size: 1.2rem;
    border: solid #dee2e6;
    border-width: 1px 0px;
    margin: 7px 50px;
    padding: 11px;
    color: #6D748E;
}
.total-price b{
    color: #6D748E;
}
.total-price small{
    font-weight: 500;
}

.total-price span.cost {
    font-size: 1.8rem;
    font-weight: 700;
}


.add-person a {
    color: #fff;
    transition: 0.5s;
    background: #6cc091;
    padding: 1rem 1rem;
    border-radius: 3rem;
}

.add-person a:hover {
    color: #6cc091;
    outline: none;
    text-decoration: none;
    background: #6cc0911a;
    box-shadow: inset 0 0 0 3px #6cc091;
}

.btn-wrapper {
    margin-top: 3rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #6cc091;
    background-color: #6cc091;
    box-shadow: none;
}

.modal-sub-title {
    font-weight: bold;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    color: #6cc091;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d9efe2;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #d9efe2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #6cc091;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.personal-d::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #6cc091;
}

.passport-d::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #6cc091;
}

.visa-d::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #6cc091;
}

.normal {
    visibility: hidden;
    width: 200px;
    height: 26px;
    background: #6cc0911a;
    border-radius: 4px;
    position: absolute;
    bottom: -27px;
    left: 0;
    padding: 2px 10px;
}

.n-delivery:hover .normal {
    visibility: visible;
}

.urgent {
    visibility: hidden;
    width: 200px;
    height: 26px;
    background: #6cc0911a;
    border-radius: 4px;
    position: absolute;
    bottom: -27px;
    left: 0;
    padding: 2px 10px;
}

.u-delivery:hover .urgent {
    visibility: visible;
}

/*-----------Track Application----------*/
#trackModal ul {
    list-style: none;
}

#trackModal ul li {
    border-left: 3px solid #ddd;
    padding-bottom: 1.5rem !important;
}

#trackModal li .bullet {
    position: absolute;
    content: "\2022";
    color: #28a745 !important;
    margin-left: -21px;
    margin-top: -36px;
    font-size: 59px;
}

/* li danger */
#trackModal li.danger .bullet {
    color: #dc3545 !important;
}

#trackModal li.danger .timeline-badge {
    color: #dc3545 !important;
}

#trackModal li.danger div span {
    color: white;
    background-color: #dc3545;
}

/* li disabled */
#trackModal li.disabled .bullet {
    color: #ddd !important;
}

#trackModal li.disabled .timeline-badge {
    color: #ddd !important;
}

#trackModal li.disabled div span {
    color: #c5c5c5;
    background-color: #ececec;
}

#trackModal li.disabled div div p {
    color: #ececec;
}

#trackModal ul li::before {
    margin-right: 19px;
    margin-left: 19px;
}

/*------------Get In Touch ------*/
#banner .get-in-touch h4,
#banner .get-in-touch p,
#banner .get-in-touch strong {
    color: white;
    text-align: left;
}
#banner .get-in-touch .invalid-feedback {
    text-align: left;
    color: red;
}
/*----------- End of Get In Touch ---------- */

/* footer */

    .welome-to-visa-wrapper {
  padding: 60px 0;
}
.welome-to-visa-wrapper h2 {
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0px;
}
.welome-to-visa-wrapper p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 40px 0 60px;
  margin-bottom: 0px;
}
.welome-to-visa-wrapper .welcome-visa-card img {
  width: auto;
  height: 60px;
  margin-bottom: 5px;
}
.welome-to-visa-wrapper .welcome-visa-card h5 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0;
}
.welome-to-visa-wrapper .welcome-visa-card p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 0px;
  margin-bottom: 0px;
}
.dedicated-wrapper {
  background: #000000;
}
.dedicated-wrapper h3 {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
.dedicated-wrapper p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.dedicated-wrapper a {
  color: #ffffff;
  text-decoration: underline;
}
.frequently-asked-wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .frequently-asked-wrapper h2 {
    font-size: 20px;
  }
}
.frequently-asked-wrapper p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.frequently-asked-wrapper p a {
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
}
.frequently-asked-wrapper .asked-questions-wrapper .card {
  background: none;
  border: none;
  border-bottom: 1px solid #0000001a !important;
  border-radius: 0px;
}
.frequently-asked-wrapper .asked-questions-wrapper .card:last-child {
  border-bottom: none !important;
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header {
  background: #ffffff;
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header .fa-circle {
  font-size: 6px;
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header h4[aria-expanded="true"] .fa-angle-down {
  transition: 0.5s;
  transform: rotate(-180deg);
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header h4 .fa-angle-down {
  transition: 0.5s;
}
.frequently-asked-wrapper .asked-questions-wrapper .card .card-header h4 button {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-align: left;
}
.client-wrapper {
  background-color: #dddddd;
}
   footer {
  padding: 20px 0px;
}
footer h6 {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}
footer p {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
footer a {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
footer a:hover {
  color: #000000;
}
footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
footer ul li {
  margin-bottom: 5px;
  padding-left: 0px;
}

/* end-footer */