@media (max-width: 575.98px) {
    .wide100 {
        width: 100% !important;
    }
    .wide90 {
        width: 90% !important;
    }
    .nav-sub {
        font-size: 10px;
        height: 65px;
    }
    h2 {
        font-size: 23px;
    }
    .container {
        font-size: 11px;
    }
    #t5 button {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}