body {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    color: #000;
    text-decoration: none !important;
}

a:hover {
    color: #000;
    text-decoration: none !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
    -webkit-box-shadow: none !important;
    outline: none;
}

.nav-sub {
    color: grey;
    font-size: 13px;
    height: 60px;
}

.nav-sub.active {
    color: #6cc091;
    border-bottom: 2px solid #6cc091;
}

#t1 li {
    font-size: 14px;
}

#t1 .date {
    border-bottom: 1px solid #6cc091 !important;
}

#t1 select {
    color: #000 !important;
    font-size: 12px !important;
    border-bottom: 1px solid #6cc091 !important;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.gj-textbox-md {
    border-color: #6cc091 !important;
    font-family: 'Montserrat', sans-serif !important;
}

#t1 button {
    background-color: #e6ffef;
    box-shadow: none;
    border: 2px solid #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

#datepicker::placeholder {
    font-size: 12px !important;
    color: #000;
}

#datepicker2::placeholder {
    font-size: 12px !important;
    color: #000;
}

.badge {
    background-color: #6cc091;
}

#t2 input {
    color: #000 !important;
    border-bottom: 1px solid #6cc091 !important;
}

input::placeholder {
    font-size: 12px !important;
    color: #000;
}

select::placeholder {
    font-size: 12px !important;
    color: #000;
}

#t2 select {
    color: #000 !important;
    font-size: 12px !important;
    border-bottom: 1px solid #6cc091 !important;
}

input {
    font-size: 13px;
}

#t2 button {
    background-color: #e6ffef;
    box-shadow: none;
    border: 2px solid #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

#t3 input {
    color: #000 !important;
    border-bottom: 1px solid #6cc091 !important;
}

#datepicker3::placeholder {
    font-size: 12px !important;
    color: #000;
}

#datepicker4::placeholder {
    font-size: 12px !important;
    color: #000;
}

#t3 button {
    background-color: #e6ffef;
    box-shadow: none;
    border: 2px solid #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

.custom-file label {
    font-size: 12px !important;
    color: #000;
}

#t4 h3 {
    font-size: 17px;
    color: #000;
    font-weight: 600;
}

p {
    font-size: 13px;
    color: grey;
    font-weight: 600;
}

#t4 p {
    font-size: 13px;
    color: grey;
    font-weight: 600;
}

#t4 button {
    background-color: #e6ffef;
    box-shadow: none;
    border: 2px solid #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

#t5 input {
    color: #000 !important;
    border-bottom: 1px solid #6cc091 !important;
}

#t5 button {
    background-color: #e6ffef;
    box-shadow: none;
    border: 2px solid #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    width: 200px;
}

#t6 p {
    color: #fff;
    font-weight: 400;
}

#t6 h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#t6 i {
    color: #fff;
}

#t6 h3 {
    color: gray;
    font-size: 17px;
    font-weight: 600;
}

.redball {
    border-radius: 50%;
    background-color: #B01C2A;
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: -25px;
}

.greyball {
    border-radius: 50%;
    background-color: grey;
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: -25px;
}

.custstyle1 {
    color: rgb(61, 57, 57);
    font-weight: 600;
    font-size: 17px;
}

.rt-cntt-divvv {
    /* width: 100%; */
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    margin-top: 10px;
    /* z-index: 10; */
}

.custbtn1 {
    border: 1px solid #5893F6;
    background-color: #fff;
    font-size: 12px;
    border-radius: 20px;
    color: #5893F6;
    font-weight: 600;
}

.custbtn2 {
    border: none;
    background-color: #5893F6;
    font-size: 15px;
    color: #fff;
}

.custhead2 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.nav-hstyle1 {
    font-size: 24px;
    font-weight: 500;
}